.venv/
Problem 1/.ipynb_checkpoints/
Problem 2/.ipynb_checkpoints/
Problem 3/.ipynb_checkpoints/
Problem 4/.ipynb_checkpoints/
Problem 5/.ipynb_checkpoints/

Problem 5/__pycache__/
Problem 5/.idea/

Problem 5/example_code/.vscode/
